.header-one {
  font-size: 2em !important;
  color: #555;
  margin: 3em 0 0 0 !important;
}

.header-two {
  font-weight: 600 !important;
  font-size: 1.4em !important;
  margin-top: 1em !important;
}

.header-six {
  color: #f55;
}
