.header-one {
  font-size: 2em !important;
  color: #555;
  margin: 3em 0 0 0 !important;
  padding: .3em .5em !important;
  background-color: #fcc;
}

.header-two {
  font-weight: 600 !important;
  font-size: 1.4em !important;
  margin-top: 0 !important;
  padding-left: .5em !important;
  border-left: solid 5px #f55;
}

.paragraph {
  border-left: 1px solid #f99;
  margin-bottom: 1em !important;
  padding-left: .5em !important;
}

.header-six {
  color: #f55;
  font-size: 1em !important;
}
